@font-face {
    font-family: 'Playfair Display Bold';
    src: url('../../fonts/playfairdisplay-bold.eot');
    src: url('../../fonts/playfairdisplay-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/playfairdisplay-bold.woff2') format('woff2'),
         url('../../fonts/playfairdisplay-bold.woff') format('woff'),
         url('../../fonts/playfairdisplay-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Scriptina';
    src: url('../../fonts/scriptina-regular.eot');
    src: url('../../fonts/scriptina-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/scriptina-regular.woff2') format('woff2'),
         url('../../fonts/scriptina-regular.woff') format('woff'),
         url('../../fonts/scriptina-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proxima_nova_regular.eot');
    src: url('../../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proxima_nova_regular.woff2') format('woff2'),
         url('../../fonts/proxima_nova_regular.woff') format('woff'),
         url('../../fonts/proxima_nova_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Alegreya Bold';
    src: url('../../fonts/alegreya-bold.eot');
    src: url('../../fonts/alegreya-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/alegreya-bold.woff2') format('woff2'),
         url('../../fonts/alegreya-bold.woff') format('woff'),
         url('../../fonts/alegreya-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../../fonts/alegreya-regular.eot');
    src: url('../../fonts/alegreya-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/alegreya-regular.woff2') format('woff2'),
         url('../../fonts/alegreya-regular.woff') format('woff'),
         url('../../fonts/alegreya-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
