.form-section {
    background-color: $black;

    .content {
        padding: rem(70px) 0;
    }

    .title {
        color: $white;
        font-size: 30px;

        @media screen and (max-width: 360px) {
            font-size: 22px;
    	}

        &:after {
            content: "";
            height: 0;
        }
    }

    .text {
        margin-top: 15px;
        padding: 0 20px;
        color: $white;
        @include calibri-regular(18px);
        font-size: rem(18px);
        line-height: 1;

        @media screen and (max-width: 360px) {
            padding: 0;
    	}
    }
}
