@media screen and (max-width: 480px) {

   body {
      background: url(../img/background_body.jpg) center 0 no-repeat,
                  url(../img/footer_bg2.jpg) center bottom no-repeat !important;
   }

   .wrapper {
      width: 320px !important;
   }

   .header {
      width: 320px !important;
   }

   .slider {
      width: 320px !important;
      margin: 0 auto !important;
      height: 265px !important;
      padding-left: 26px !important;
      padding-right: 24px !important;
   }

   .about {
      width: 320px !important;
      padding-top: 70px !important;
      padding-right: 25px !important;
      padding-bottom: 38px !important;
   }

   section {
      width: 320px !important;
      height: 1322px !important;
      padding-top: 65px !important;
      padding-bottom: 75px;
      padding-right: 20px !important;
   }

   .pre-footer {
      display: none !important;
   }

   .footer {
      width: 320px !important;
      height: 201px !important;
      padding-top: 37px !important;
   }

   .bg2 {
      /*width: 101% !important;*/
      height: 155px !important;
   }

   .text {
      margin-top: 56px !important;
      margin-left: 40px !important;
   }

   .page > img {
      display: none;
   }

   .header .menu {
      width: 180px !important;
   }

   .header .menu__item {
      padding: 3px 0 !important;
   }

   .header .menu__link {
      font-size: 19px !important;
   }

   .slides {
      height: 157px !important;
   }

   .active {
      margin-top: 34px !important;
      margin-right: 87px !important;
   }

   #slider__slide1:checked ~ .controls label:nth-child(2),
   #slider__slide2:checked ~ .controls label:nth-child(3),
   #slider__slide3:checked ~ .controls label:nth-child(4),
   #slider__slide4:checked ~ .controls label:nth-child(1) {
      width: 25px !important;
      height: 155px !important;
      margin-left: -23px !important;
      background-position: -3px 66px !important;
   }

   #slider__slide1:checked ~ .controls label:nth-child(4),
   #slider__slide2:checked ~ .controls label:nth-child(1),
   #slider__slide3:checked ~ .controls label:nth-child(2),
   #slider__slide4:checked ~ .controls label:nth-child(3) {
      width: 24px !important;
      height: 155px !important;
      margin-right: 24px !important;
      background-position: -3px 66px !important;
   }

   .bg3 {
      top: 541px !important;
      /*width: 101% !important;*/
      height: 729px !important;
   }

   .company {
      margin-bottom: 29px !important;
   }

   .company__link {
      margin-top: 24px !important;
   }

   .page2 span {
      margin-right: 38px;
   }

   .page2 h3 {
      line-height: 26px;
   }

   .active2 {
      margin-right: 29px !important;
   }

   .updates {
      top: 84px !important;
      width: 100% !important;
      margin-left: 0 !important;
   }

   .logos {
      margin-top: 186px !important;
      padding-left: 39px !important;
   }

   .logos div {
      margin-bottom: 33px;
   }

   .logos div:nth-child(2n+2) {
      margin-right: 0 !important;
   }

   .logos div:nth-child(3) {
      margin-right: 71px !important;
      margin-left: 8px;
   }

   .logos div:nth-child(5) {
      margin-right: 49px !important;
      margin-left: -19px;
   }

   .bg4 {
      top: 1269px !important;
      /*width: 101% !important;*/
      height: 1329px !important;
   }

   .lines {
      top: 891px !important;
      border-bottom: none !important;
   }

   .lines:before {
      border-bottom: none !important;
   }

   .bg5 {
      display: none !important;
   }

   .menu--font-size {
      display: none !important;
   }

   .footer p {
      margin-top: 0 !important;
   }
}
