@media screen and (max-width: 960px) {

   body {
      background: url(../img/background_body.jpg) 57% 0 no-repeat,
                  url(../img/footer_bg2.jpg) center bottom no-repeat !important;
   }

   .wrapper {
      width: 768px !important;
   }

   .header .logo a:hover {
      transform: none !important;
   }

   .logo a:before {
      width: 0 !important;
      transition: none !important;
   }

   .header > .menu {
      float: none;
      margin-top: 29px;
   }

   .header .menu__item:first-child > a {
      padding-left: 0;
   }

   .header > a {
      display: block !important;
   }

   .fa-bars {
      display: none !important;
   }

   .text {
      width: 272px !important;
      height: 183px;
      overflow-y: hidden;
      margin-left: 22px !important;
   }

   .text__h1 {
      font-size: 48px !important;
   }

   .text__h2 {
      width: 272px !important;
      overflow-x: hidden;
      white-space: nowrap !important;
      font-size: 24px !important;
   }

   .text__p {
      font-size: 16px !important;
      line-height: 27px !important;
   }

   .page img {
      margin-right: 29px !important;
   }

   .about {
      width: 768px !important;
   }

   .company {
      width: 210px !important;
      margin-right: 42px !important;
   }

   .company:last-child {
      margin-right: 0 !important;
   }

   .company__p {
      height: 142px !important;
      overflow-y: hidden;
      margin-bottom: 10px !important;
   }

   .company__h3 {
      margin-bottom: 3px !important;
      font-size: 24px !important;
   }

   .start {
      width: 311px !important;
      height: 256px !important;
   }

   .updates {
      width: 337px !important;
      top: 39px !important;
   }

   .page2 p {
      height: 138px !important;
      overflow-y: hidden;
   }

   section {
      padding-top: 62px !important;
   }

   .active2 {
      margin-top: 56px !important;
      margin-right: 74px !important;
   }

   .update2, .update3 {
      margin-top: 4px !important;
   }

   .logos {
      margin-top: 106px !important;
      padding-top: 26px !important;
      padding-left: 1px !important;
   }

   .logos div {
      margin-right: 49px !important;
   }

   .pre-footer {
      width: 728px !important;
      height: 395px !important;
   }

   .pre-footer div {
      width: 205px !important;
   }

   .pre-footer div:not(:last-child) {
      margin-right: 52px !important;
   }

   .footer {
      width: 728px !important;
      height: 198px !important;
   }

   .menu--font-size {
      float: none !important;
   }

   .footer p {
      margin-top: 30px !important;
   }

   .bg5:before, .bg5:after {
      border-radius: 107px/100px !important;
      box-shadow: 0 0 20px rgba(0,0,0,0.6) !important;
   }

}
