.header .logo a {
   transition: none;
}

.header .logo a:hover {
   transform: none;
}

.logo a:hover:before,
.logo a:focus:before {
   display: none;
}

.bg2 {
   background: rgb(0, 0, 0);
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}

.bg3 {
   background: #322539;
}

.bg5 {
   z-index: 1;
}

.backgrounds > img:first-child {
   position: absolute;
   top: 0;
   left: -15%;
   width: 115%;
}

.backgrounds > img {
   position: absolute;
   bottom: -1604px;
   width: 100%;
}

.company {
   margin-right: 34px;
}

.start .active2 {
   display: none;
}

.logos {
   padding-left: 14px;
}

.logos div {
   display: none;
}

.pre-footer p {
   color: #787878;
   font: 16px/23px "Open Sans Light", Arial, sans-serif;
}

.pre-footer div {
   margin-right: 40px;
}

.pre-footer div:first-child p:first-child {
   color: #787878;
   font: 20px/23px "Open Sans Light", Arial, sans-serif;
}
