@font-face {
    font-family: 'Montserrat Regular';
    src: url('../../fonts/montserrat-regular.eot');
    src: url('../../fonts/montserrat-regular.woff2') format('woff2'),
         url('../../fonts/montserrat-regular.woff') format('woff'),
         url('../../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../fonts/montserrat-bold.eot');
    src: url('../../fonts/montserrat-bold.woff2') format('woff2'),
         url('../../fonts/montserrat-bold.woff') format('woff'),
         url('../../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../../fonts/roboto-light.eot');
    src: url('../../fonts/roboto-light.woff2') format('woff2'),
         url('../../fonts/roboto-light.woff') format('woff'),
         url('../../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
