<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JS by Stas Guma</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.js"></script> -->
  <script src="js/lodash.js"></script>

</head>
<body>
   <script type="text/template" id="questionnaire">
      <div class="wrapper container-fluid">
         <h1 class="text-left">Тест по программированию</h1>
         <ol>
            <% for (var i = 0; i < obj.questionsGen.length; i++) { %>
               <li><% for (var k = 0; k < obj.questionsGen[i].answers.length; k++) { %>
                  <label><input type="checkbox"><% obj.questionsGen[i].answers[k] %></label>
                  <% }; %>
               </li>
            <% }; %>
         </ol>
         <input type="submit" value="Проверить мои результаты">
      </div>
   </script>
   <script src="js/script.js"></script>
</body>
</html>
