/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
*{
  box-sizing: border-box;
  }

body {
	font: 12px/18px Tahoma, sans-serif;
	width: 100%;
}
.wrapper {
	width: 1062px;
	margin: 0 auto;
  padding: 51px 49px 61px 47px;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}


/* Header
-----------------------------------------------------------------------------*/
.header {
  width: 966px;
	height: 79px;
	background: #ffffff url(../img/logo.png) 0 0 no-repeat;
}

/* Navigation
-----------------------------------------------------------------------------*/
.navigation{
  width: 966px;
  height: 40px;
	background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
}

.navigation li {
	height: 40px;
	float: left;
}

.navigation ul li a{
	width: 140px;
	height: 40px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
  font: 15px/35px Tahoma, sans-serif;
}

.navigation ul li a:hover{
	background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 966px;
	position: relative;
	margin-top: 40px;
  background: #ffffff;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}

/* Left Sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
	width: 240px;
	float: left;
	border: 1px solid #c8c8c8;
	position: absolute;
	background: #ffffff;
}

.left-sidebar li a{
	height: 40px;
	display: block;
	padding: 11px 0 0 21px;
	border-bottom: 1px solid #c8c8c8;
	text-decoration: none;
	font-size: 14px;
	color: #656363;
}

.left-sidebar:last-of-type{
	border-bottom: none;
}

.left-sidebar li a:hover{
	background-color: #f9f9f9;
	padding-left: 33px;
}

.container {
	float: right;
	margin-left: 287px;
	/*position: relative; ??????????*/
}

.img{
	width: 679px;
	height: 400px;
	border: 1px solid #c8c8c8;
	background: url(../img/bicycle.jpg) 87px 45px no-repeat;
}

.container p {
	padding: 35px 66px 0 25px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
  width: 966px;
  height: 40px;
	margin-top: 54px;
	background: #e1e1e1;
}

.footer li a {
	float: left;
	display: block;
	margin: 11px 97px 0 25px;
	font-size: 13px;
	color: #2c2c2c;
	text-decoration: none;
}

.footer li a:hover {
	text-decoration: underline;
}

.footer p{
	font-size: 13px;
	line-height: 40px;
	color: #2c2c2c;
	text-align: right;
	margin-right: 24px;
}
