.footer {
    background-color: $white;

    .content {
        padding-top: 22px;
        padding-bottom: 46px;
        font-size: 0;

        @include tablet {
            position: relative;
            padding-bottom: 61px;
            padding-left: 10px;
            padding-right: 10px;
        };

        @include media600 {
            padding-bottom: 111px;
        };
    }
}

.logo-block--width {
    width: 23%;

    @include laptop {
        width: 28%;
    };

    @include tablet {
        width: 50%;
    };

    @include media600 {
        display: block;
        margin: 0 auto;
    };
}

.logo-block__img--size {
    max-width: 66px;
}

.logo-block__title--fs {
    margin-left: 4px;
    font-size: rem(29px);
}

.address-col {
    display: inline-block;
    vertical-align: middle;
    width: 51%;
    color: #8d8d8d;
    text-align: center;
    @include arial(14px)
    font-size: rem(14px);

    @include laptop {
        width: 41%;
    };

    @include tablet {
        position: absolute;
        bottom: 14px;
        left: 0;
        width: 100%;
    };

    @include media600 {
        padding-left: 10px;
        padding-right: 10px;
    };

    address {
        display: inline-block;
    }

    .copyright {
        display: inline-block;
        margin-left: 30px;

        @include laptop {
            display: block;
            margin-top: 13px;
            margin-left: 0;
        };

        @include tablet {
            display: inline-block;
            margin-left: 30px;
            margin-top: 0;
        };

        @include media600 {
            display: block;
            margin-top: 16px;
            margin-left: 0;
        };
    }
}

.socials-col {
    display: inline-block;
    vertical-align: middle;
    width: 26%;
    text-align: right;

    @include laptop {
        width: 31%;
    };

    @include tablet {
        width: 50%;
    };

    @include media600 {
        display: block;
        width: 100%;
        margin: 60px auto 0;
        text-align: center;
    };

    a {
        display: inline-block;

        &:hover {
            .icon {
                fill: #2b2f61;
                fill-opacity: 1;
            }
        }
    }
    a ~ a {
        margin-left: 35px;
    }

    .icon {
        height: 22px;
        fill: #9B9DB4;
        fill-opacity: .5;
        transition: .3s;
    }

    .icon--fb {width: 20px;}
    .icon--instagram {width: 22px;}
    .icon--ok {width: 21px;}
    .icon--twitter {width: 22px;}
    .icon--vk {width: 22px;}
}
