<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS by Stas Guma</title>
    <link rel="stylesheet" href="css/dist/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/648c0a4557.js"></script>
    <script src="js/dist/slick.min.js"></script>
    <script defer src="js/dist/main.min.js"></script>
</head>
<body>
    <!--//////////////////////////
    /////////// HEADER //////////
    /////////////////////////-->
    <header class="header">
        <div class="content">
            <div class="logo">
                <a href="#home">
                    <span class="logo__img"></span>
                    <span class="logo__text">Build Home</span>
                    <span class="logo__text2">Industrial Theme</span>
                </a>
            </div>
            <div class="socials">
                <a href="#facebook">
                    <img src="img/socials_sprite.png" alt="facebook">
                </a>
                <a href="#twitter">
                    <img src="img/socials_sprite.png" alt="twitter">
                </a>
                <a href="#rss">
                    <img src="img/socials_sprite.png" alt="rss">
                </a>
                <a href="#linkedin">
                    <img src="img/socials_sprite.png" alt="linkedin">
                </a>
                <a href="#skype">
                    <img src="img/socials_sprite.png" alt="skype">
                </a>
            </div>
            <nav class="navigation">
                <ul class="nav-menu">
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#home">Home</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#features">Features</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#services">Services</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#news">News</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#shop">Shop</a>
                    </li>
                </ul>
                <div class="form">
                    <form>
                        <input class="form__input-text" type="text" placeholder="Search...">
                        <button class="fa fa-search form__button-submit" type="submit"></button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <!--//////////////////////////
    ////////// CAROUSEL /////////
    /////////////////////////-->
    <div class="carousel">
        <div class="content slick-slider">
            <div class="slide">
                <img src="img/slider_picture1.jpg">
                <span class="slide__box1">
                    <h2><span class="yellow">Build</span> your business</h2>
                </span>
                <span class="slide__box2"></span>
            </div>
            <div class="slide">
                <img src="img/slider_picture1.jpg">
                <span class="slide__box1">
                    <h2><span class="yellow">Build</span> your business</h2>
                </span>
                <span class="slide__box2"></span>
            </div>
            <div class="slide">
                <img src="img/slider_picture1.jpg">
                <span class="slide__box1">
                    <h2><span class="yellow">Build</span> your business</h2>
                </span>
                <span class="slide__box2"></span>
            </div>
        </div>
    </div>
    <!--//////////////////////////
    ////////// ADVANTAGES ///////
    /////////////////////////-->
    <div class="advantages">
        <div class="content">
            <section class="sections">
                <span class="sections__number">01</span>
                <h4 class="sections__title">Power Inside</h4>
                <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique.</p>
                <a class="sections__link" href="#readmore">Read More</a>
            </section>
            <section class="sections">
                <span class="sections__number">02</span>
                <h4 class="sections__title">New Technologies</h4>
                <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique.</p>
                <a class="sections__link" href="#readmore">Read More</a>
            </section>
            <section class="sections">
                <span class="sections__number">03</span>
                <h4 class="sections__title">Fast Support</h4>
                <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique.</p>
                <a class="sections__link" href="#readmore">Read More</a>
            </section>
        </div>
    </div>
    <!--//////////////////////////
    ////////// SERVICES /////////
    /////////////////////////-->
    <div class="services">
        <div class="content">
            <h2>Our Services</h2>
            <span class="schedule">
                <a href="#schedule" target="_blank">
                    <span class="hover">
                        <span class="cross-hor">
                            <span class="cross-ver"></span>
                        </span>
                    </span>
                </a>
                <a href="#schedule" target="_blank">Schedule Services</a>
            </span>
            <span class="preventive-maintence">
                <a href="#preventive-maintence" target="_blank">
                    <span class="hover">
                        <span class="cross-hor">
                            <span class="cross-ver"></span>
                        </span>
                    </span>
                </a>
                <a href="#preventive-maintence" target="_blank">Preventive Maintence</a>
            </span>
            <span class="tire-and-wheel">
                <a href="#tire-and-wheel" target="_blank">
                    <span class="hover">
                        <span class="cross-hor">
                            <span class="cross-ver"></span>
                        </span>
                    </span>
                </a>
                <a href="#tire-and-wheel" target="_blank">Tire & Wheel Services</a>
            </span>
            <span class="repair">
                <a href="#repair" target="_blank">
                    <span class="hover">
                        <span class="cross-hor">
                            <span class="cross-ver"></span>
                        </span>
                    </span>
                </a>
                <a href="#repair" target="_blank">Repair Services</a>
            </span>
        </div>
    </div>
    <!--//////////////////////////
    /////// COMPLEMENTARY ///////
    /////////////////////////-->
    <div class="complementary">
        <div class="content">
            <!-- TEMPLATE -->
            <div class="banners">
                <h2>Banners Place</h2>
                <div class="panel">
                    <h4>Accordion Panel 1</h4>
                </div>
                <p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
                <div class="panel">
                    <h4>Accordion Panel 2</h4>
                </div>
                <p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
                <div class="panel">
                    <h4>Accordion Panel 3</h4>
                </div>
                <p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
                <div class="panel">
                    <h4>Accordion Panel 4</h4>
                </div>
                <p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
            </div>
        </div>
    </div>
    <!--//////////////////////////
    //////////// LOGOS //////////
    /////////////////////////-->
    <div class="logos">
        <div class="content">
            <span class="img-wrapper">
                <img class="img-wrapper__img" src="img/dist/logos_sprite.png" alt="">
            </span>
            <span class="img-wrapper">
                <img class="img-wrapper__img" src="img/dist/logos_sprite.png" alt="">
            </span>
            <span class="img-wrapper">
                <img class="img-wrapper__img" src="img/dist/logos_sprite.png" alt="">
            </span>
            <span class="img-wrapper">
                <img class="img-wrapper__img" src="img/dist/logos_sprite.png" alt="">
            </span>
            <span class="img-wrapper">
                <img class="img-wrapper__img" src="img/dist/logos_sprite.png" alt="">
            </span>
            <span class="img-wrapper">
                <img class="img-wrapper__img" src="img/dist/logos_sprite.png" alt="">
            </span>
        </div>
    </div>
    <!--//////////////////////////
    //////// FOOTER-LINKS ///////
    /////////////////////////-->
    <div class="pre-footer">
        <div class="content">
            <ul class="footer-links">
                <h4 class="footer-links__title">Socials</h4>
                <li class="footer-links__item">
                    <a class="footer-links__link">Facebook</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Flickr</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Twitter</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Vimeo</a>
                </li>
            </ul>
            <ul class="footer-links">
                <h4 class="footer-links__title">Links</h4>
                <li class="footer-links__item">
                    <a class="footer-links__link">How to Write a Blog</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Create a Blog in 4 Steps</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">15 Tips to Increase Traffic</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">20 Blog Post Ideas</a>
                </li>
            </ul>
            <ul class="footer-links">
                <h4 class="footer-links__title">Blogroll</h4>
                <li class="footer-links__item">
                    <a class="footer-links__link">Blogs Blog</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Roll Up Roll Up</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Blog Free</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Wordpress Blog</a>
                </li>
            </ul>
            <ul class="footer-links">
                <h4 class="footer-links__title">About us</h4>
                <li class="footer-links__item">
                    <a class="footer-links__link">Agriculture</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Harvest</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Company news</a>
                </li>
                <li class="footer-links__item">
                    <a class="footer-links__link">Investor relations</a>
                </li>
            </ul>
        </div>
    </div>
    <!--//////////////////////////
    /////////// FOOTER //////////
    /////////////////////////-->
    <footer class="footer">
        <div class="content">
            <address class="footer-info">
                <i class="fa fa-map-marker footer-info__icon"></i>
                <span>BuildHomeLtd.  Street Name 123   23 45 Cityname</span>
                <i class="fa fa-mobile footer-info__icon" aria-hidden="true"></i>
                <a href="tel:+380509006633">050-900-66-33</a>
                <i class="fa fa-envelope-o footer-info__icon" aria-hidden="true"></i>
                <a href="mailto:somemail@gmail.com" target="_blank">somemail@gmail.com</a>
                <p>&copy; 2014 Build Home</p>
            </address>
        </div>
    </footer>

    <script type="text/template" id="template">
        <div class="news">
            <h2>Latest News</h2>
            <% for (var i = 0; i < data.length; i++){ %>
            <article>
                <span class="<%= data[i].spanImg %>">
                    <img src="<%= data[i].imgSrc %>">
                </span>
                <h3><a href="#article"><%= data[i].title %></a></h3>
                <p>
                    by <a class="news__color" href="#"><%= data[i].users %></a> Comments (<a class="news__color" href="#"><%= data[i].comments %></a>)
                </p>
                <p><%= data[i].describe %></p>
            </article>
            <% }; %>
        </div>
    </script>
</body>
</html>
