@font-face {
    font-family: 'ALSMalina';
    src: url('../../fonts/ALSMalina.eot');
    src: url('../../fonts/ALSMalina.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ALSMalina.woff2') format('woff2'),
         url('../../fonts/ALSMalina.woff') format('woff'),
         url('../../fonts/ALSMalina.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../../fonts/helvetica.eot');
    src: url('../../fonts/helvetica.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/helvetica.woff2') format('woff2'),
         url('../../fonts/helvetica.woff') format('woff'),
         url('../../fonts/helvetica.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Bold';
    src: url('../../fonts/helvetica-bold.eot');
    src: url('../../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/helvetica-bold.woff2') format('woff2'),
         url('../../fonts/helvetica-bold.woff') format('woff'),
         url('../../fonts/helvetica-bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../../fonts/MyriadPro-Regular.eot');
    src: url('../../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../../fonts/MyriadPro-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
