@font-face {
    font-family: 'Ubuntu Light';
    src: url('../../fonts/ubuntu_light.eot');
    src: url('../../fonts/ubuntu_light.eot?#iefix') format('embedded-../../fonts/opentype'),
         url('../../fonts/ubuntu_light.woff2') format('woff2'),
         url('../../fonts/ubuntu_light.woff') format('woff'),
         url('../../fonts/ubuntu_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../../fonts/ubuntu_medium.eot');
    src: url('../../fonts/ubuntu_medium.eot?#iefix') format('embedded-../../fonts/opentype'),
         url('../../fonts/ubuntu_medium.woff2') format('woff2'),
         url('../../fonts/ubuntu_medium.woff') format('woff'),
         url('../../fonts/ubuntu_medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('../../fonts/ubuntu_condensed_regular.eot');
    src: url('../../fonts/ubuntu_condensed_regular.eot?#iefix') format('embedded-../../fonts/opentype'),
         url('../../fonts/ubuntu_condensed_regular.woff2') format('woff2'),
         url('../../fonts/ubuntu_condensed_regular.woff') format('woff'),
         url('../../fonts/ubuntu_condensed_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
