@import "fonts", "normalize";

$yellow: #f4b60d;
$black: #2a2d32;
$blue: #248cec;
$white: #ffffff;
$grey: #8a8a8a;

.content {
    width: 1160px;
    margin: 0 auto;
}

.active {
    background-color: $blue;
}

.header {
    background-color: $white;

    .content {
        padding-top: 40px;

        .logo {
            position: relative;
            display: inline-block;
            width: 209px;
            height: 40px;

            a {
                display: inline-block;
                overflow: hidden;
                width: 209px;
                height: 40px;
                text-decoration: none;

                .logo__img {
                    float: left;
                    width: 36px;
                    height: 36px;
                    margin-top: 2px;
                    background: url(../../img/dist/logo.jpg) 0 0 no-repeat;
                }

                .logo__text {
                    float: right;
                    margin-top: -5px;
                    margin-left: 6px;
                    font: 30px "Ubuntu Medium", Arial,sans-serif;
                    color: #434343;
                }

                .logo__text2 {
                    float: right;
                    margin-top: -5px;
                    font: 12px "Ubuntu Light", Arial,sans-serif;
                    color: rgba(51, 51, 51, .65);
                    text-transform: uppercase;
                    letter-spacing: 3.4px;
                }
            }
        }

        .socials {
            position: relative;
            float: right;
            overflow-y: hidden;
            height: 18px;
            margin-top: 6px;

            a {
                margin-right: 17px;

                img {
                    position: relative;
                    bottom: 0;
                    transition: all .3s;
                }

                &:hover img {
                    position: relative;
                    bottom: 18px;
                }
            }

            a[href*="facebook"] {
                display: inline-block;
                width: 11px;
                overflow: hidden;
            }

            a[href*="twitter"] {
                display: inline-block;
                width: 16px;
                overflow: hidden;

                img {
                    margin-left: -15px;
                }
            }

            a[href*="rss"] {
                display: inline-block;
                width: 16px;
                overflow: hidden;

                & img {
                    margin-left: -34px;
                }
            }

            a[href*="linkedin"] {
                display: inline-block;
                width: 16px;
                overflow: hidden;

                & img {
                    margin-left: -54px;
                }
            }

            a[href*="skype"] {
                display: inline-block;
                overflow: hidden;
                width: 17px;
                margin-right: 0;

                & img {
                    margin-left: -74px;
                }
            }

        }

        .navigation {
            margin-top: 32px;
            margin-bottom: 40px;
            background-color: $black;

            .nav-menu {
                display: inline-block;
                font-size: 0;
                padding-left: 0;

                .nav-menu__item {
                    display: inline-block;
                    font-size: 16px;
                    border-right: 1px solid #181a1d;

                    .nav-menu__link {
                        display: inline-block;
                        padding: 22px 40px;
                        font: 14px "Ubuntu Condensed", Arial,sans-serif;
                        color: $white;
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: color .2s;

                        &:hover {
                            color: $yellow;
                        }

                    }
                }

            }

            .form {
                position: relative;
                float: right;

                .form__input-text {
                    width: 238px;
                    height: 37px;
                    margin-top: 10px;
                    margin-right: 8px;
                    padding-left: 14px;
                    border: 1px solid #181a1d;
                    background-color: #35383c;
                    color: rgba(255, 255, 255, .4);
                    font: 12px Arial,sans-serif;
                    transition: all .3s;

                    &[placeholder*="Search"] {
                        color: rgba(255, 255, 255, .7);
                    }

                    &:focus {
                        box-shadow: 0 0 2px rgba(255, 255, 255, .8);
                        outline: none;
                    }

                }

                .form__button-submit {
                    position: absolute;
                    top: 22px;
                    right: 13px;
                    border: none;
                    cursor: pointer;
                    background-color: transparent;
                    color: rgba(255, 255, 255, .4);

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.carousel {
    margin-bottom: 70px;
    background-color: $white;

    .content {
        height: 470px;

        .slide {
            position: relative;

            .slide__box1 {
                position: absolute;
                top: 213px;
                left: 38px;
                display: inline-block;
                width: 188px;
                height: 197px;
                padding-top: 15px;
                padding-left: 26px;
                z-index: 10;
                background-color: rgba(26, 26, 26, .9);

                h2 {
                    margin: 0;
                    font: 54px "Ubuntu Medium", Arial,sans-serif;
                    color: $white;
                    text-transform: uppercase;

                    .yellow {
                        color: $yellow;
                    }
                }
            }

            .slide__box2 {
                position: absolute;
                top: 335px;
                left: 252px;
                display: inline-block;
                width: 93px;
                height: 90px;
                background-color: rgba(26, 26, 26, .9);
            }

        }
    }
}

.advantages {
    background-color: $white;

    .content {
        padding-bottom: 83px;

        .sections {
            display: inline-block;
            width: 31.2%;
            margin-right: 2.82%;

            &:nth-child(2) {
                .sections__title:before {
                    background: url(../../img/dist/advantages_sprites.png) -35px 0 no-repeat;
                }
            }

            &:last-child {
                margin-right: 0;

                .sections__title:before {
                    background: url(../../img/dist/advantages_sprites.png) -73px -3px no-repeat;
                }
            }

            .sections__number {
                font: 90px/60px "Ubuntu Medium", Arial,sans-serif;
                color: rgba(42, 43, 46, .1);
            }

            .sections__title {
                position: relative;
                display: inline-block;
                margin-top: 0;
                margin-left: 21px;
                font: 20px "Ubuntu Medium", Arial,sans-serif;
                color: #2a2b2e;

                &:before {
                    position: absolute;
                    top: -47px;
                    display: inline-block;
                    width: 37px;
                    height: 37px;
                    content: "";
                    background: url(../../img/dist/advantages_sprites.png) 0 0 no-repeat;
                }

                &+p {
                    margin: -9px 0 15px 122px;
                    font: 13px/19px Arial,sans-serif;
                    color: $grey;
                }
            }

            .sections__link:last-child {
                margin-left: 122px;
                text-decoration: none;
                font: 13px "Ubuntu Medium", Arial,sans-serif;
                color: #2a2b2e;
                transition: all .3s;

                &:hover {
                    color: $blue;

                    &:after {
                        background-position: -13px 0;
                    }
                }

                &:after {
                    display: inline-block;
                    width: 12px;
                    height: 11px;
                    margin-left: 8px;
                    content: '';
                    background: url(../../img/dist/arrow_sprite.png) 0 0 no-repeat;
                    transition: all .3s;
                }
            }


        }
    }
}

.services {
    background-color: $black;

    .content {
        padding-top: 23px;
        padding-bottom: 65px;

        h2 {
            padding-bottom: 31px;
            font: 24px "Ubuntu Medium", Arial,sans-serif;
            color: $white;
        }

        span {
            display: inline-block;
            width: 260px;
            height: 310px;

            &:hover {
                a {
                    &:last-child {
                        color: $yellow;
                    }
                }

                .hover {
                    opacity: 1;
                }
            }

            &:not(:last-child) {
                margin-right: 35px;

            }

            &.schedule {
                background: url(../../img/dist/services_pic.jpg) 0 0 no-repeat;
            }
            &.preventive-maintence {
                background: url(../../img/dist/services_pic2.jpg) 0 0 no-repeat;
            }
            &.tire-and-wheel {
                background: url(../../img/dist/services_pic3.jpg) 0 0 no-repeat;
            }
            &.repair {
                background: url(../../img/dist/services_pic4.jpg) 0 0 no-repeat;
            }

            a {
                &:last-child {
                    display: inline-block;
                    width: 260px;
                    padding-top: 292px;
                    text-decoration: none;
                    text-align: center;
                    font: 16px "Ubuntu Medium", Arial,sans-serif;
                    color: $white;
                    transition: all .2s;
                }
            }

            .hover {
                position: absolute;
                display: inline-block;
                width: 260px;
                height: 260px;
                opacity: 0;
                cursor: pointer;
                background-color: rgba($blue, .9);
                text-align: center;
                transition: all .5s;

                .cross-hor {
                    position: relative;
                    top: 50%;
                    width: 34px;
                    height: 3px;
                    background-color: $white;

                    .cross-ver {
                        position: relative;
                        top: -15px;
                        width: 3px;
                        height: 34px;
                        background-color: $white;
                    }
                }

            }
        }

    }
}

.complementary {
    background-color: #f7f7f7;

    .content {
        padding-top: 41px;
        padding-bottom: 51px;

        .news {
            display: inline-block;
            width: 561px;
            margin-right: 35px;

            h2 {
                margin-bottom: 42px;
                font: 24px "Ubuntu Medium",Arial,sans-serif;
                color: $black;
            }

            article {
                margin-bottom: 32px;

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .news__pic {
                    position: relative;
                    float: left;
                    display: inline-block;
                    width: 150px;
                    height: 150px;

                    &:before {
                        position: absolute;
                        top: 13px;
                        left: -17px;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 40px;
                        height: 40px;
                        padding-top: 13px;
                        content: "Jan";
                        background-color: $blue;
                        color: $white;
                        font: 15px "Ubuntu Medium", Arial,sans-serif;
                        text-align: center;
                    }

                    &:after {
                        position: absolute;
                        top: 53px;
                        left: -17px;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 40px;
                        height: 40px;
                        padding-top: 12px;
                        content: "23";
                        background-color: $yellow;
                        color: #2a2b2e;
                        font: 18px "Ubuntu Medium", Arial,sans-serif;
                        text-align: center;
                    }
                }

                .news__pic2 {
                    @extend .news__pic;

                    &:before {
                        @extend .news__pic:before;
                    }
                    &:after {
                        @extend .news__pic:after;
                        content: "21";
                    }
                }

                h3 {
                    display: inline-block;
                    margin: 3px 0 0 33px;

                    a {
                        font: 16px "Ubuntu Medium", Arial,sans-serif;
                        color: $black;
                        transition: color .2s;
                        text-decoration: none;

                        &:hover {
                            color: $blue;
                        }
                    }
                }

                p {
                    display: inline-block;
                    margin-top: 6px;
                    margin-left: 33px;
                    font: 13px Arial,sans-serif;
                    color: #9e9e9e;

                    .news__color {
                        color: #0187f4;
                        text-decoration: none;

                        &:first-child {
                            color: #0187f4;
                            text-decoration: none;
                        }

                        &:hover {
                            border-bottom: 1px dotted $black;
                        }
                    }

                    &:last-child {
                        display: inline-block;
                        width: 378px;
                        margin-top: 0;
                    }
                }
            }
        }

        .banners {
            float: right;
            display: inline-block;
            width: 564px;

            h2 {
                margin-bottom: 42px;
                font: 24px "Ubuntu Medium",Arial,sans-serif;
                color: $black;
            }

            div {
                position: relative;
                box-sizing: border-box;
                height: 40px;
                margin-bottom: 5px;
                cursor: pointer;
                border: 1px solid #e8e8e8;
                background-color: $white;

                &:before {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 37px;
                    height: 38px;
                    padding-left: 3px;
                    border-right: 2px solid #e8e8e8;
                    color: $black;
                    content: '+';
                    font-size: 22px;
                    font-family: "Times New Roman";
                    text-align: center;
                    line-height: 40px;
                }

                h4 {
                    position: relative;
                    top: -3px;
                    display: inline-block;
                    margin: 0;
                    padding-left: 8px;
                    color: $black;
                    font: 13px "Ubuntu Medium", Arial,sans-serif;
                    text-transform: uppercase;
                }
            }

            p {
                margin-bottom: 41px;
                padding-left: 38px;
                color: $grey;
                font: 13px Arial,sans-serif;
                line-height: 20px;
            }

            .active {
                @extend div;
                border: none;
                background-color: $yellow;

                &:before {
                    padding-left: 2px;
                    border-right: 1px solid rgba(255, 255, 255, .2);

                    content: "\2013";
                    color: $white;
                    line-height: 38px;

                }

                h4 {
                    top: -1px;
                    color: $white;
                }

            }
        }
    }
}

.logos {
    background-color: $white;

    .content {
        padding: 80px 0 84px 0;
        text-align: center;

        .img-wrapper {
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin-right: 78px;

            &:first-child {
                width: 100px;
                height: 50px;

                .img-wrapper__img {
                    top: -8px;
                    left: -6px;
                }
            }
            &:nth-child(2) {
                width: 100px;
                height: 50px;

                .img-wrapper__img {
                    top: -8px;
                    left: -112px;
                }
            }
            &:nth-child(3) {
                width: 156px;
                height: 50px;

                .img-wrapper__img {
                    top: -11px;
                    left: -224px;
                }
            }
            &:nth-child(4) {
                width: 103px;
                height: 50px;

                .img-wrapper__img {
                    top: -10px;
                    left: -388px;
                }
            }
            &:nth-child(5) {
                width: 119px;
                height: 50px;

                .img-wrapper__img {
                    top: -11px;
                    left: -497px;
                }
            }
            &:nth-child(6) {
                width: 85px;
                height: 64px;
                margin-right: 0;

                .img-wrapper__img {
                    left: -625px;
                }
            }

            .img-wrapper__img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.pre-footer {
    background-color: $black;

    .content {
        padding: 43px 0 83px 0;

        .footer-links {
            display: inline-block;
            width: 260px;
            padding-left: 0;
            list-style: none;

            &:not(:last-child) {
                margin-right: 35px;
            }

            .footer-links__title {
                display: inline-block;
                margin-top: 0;
                margin-bottom: 29px;
                color: $white;
                font: 16px "Ubuntu Medium", Arial, sans-serif;
                text-transform: uppercase;
            }

            .footer-links__item {
                padding: 13px 0;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(255, 255, 255, .1);
                }

                .footer-links__link {
                    cursor: pointer;
                    font: 13px Arial,sans-serif;
                    color: rgba(255, 255, 255, .3);
                    transition: color .3s;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #35383c;

    .content {
        padding: 10px 0 18px 0;

        .footer-info {
            position: relative;

            .footer-info__icon {
                position: relative;
                top: 2px;
                margin-right: 7px;
                color: rgba(255, 255, 255, .2);
                font-size: 20px;

                &:nth-of-type(2) {
                    position: relative;
                    top: 6px;
                    font-size: 30px;
                }
            }

            span {
                margin-right: 30px;
                font: 12px Arial,sans-serif;
                color: rgba(255, 255, 255, .2);
            }

            a {
                @extend span;
                margin-right: 30px;
                text-decoration: none;

            }

            p {
                float: right;
                display: inline-block;
                font: 12px Arial,sans-serif;
                color: rgba(255, 255, 255, .2);
            }
        }
    }
}
